
body {    
    background-color: #EEEEEE;
}

.card-ano-title h1{
	text-align:left;
    font-size:35px !important;
    text-align: center;
    font-weight: 300 !important;
}


.card-title h1{
	text-align:left;
    font-size:20px !important;           
    font-style: italic;
    font-weight: 500;     
}

.wrimagecard{
    padding: 15px;
	margin-top: auto;
    margin-bottom: 1.5rem;    
    background: #fff;
    Border-radius: 5px;
}

.card-title h1 span select{
    font-weight: 700;
}

.card-ano-title h1 span select{
    font-weight: 700;
}


select{
    border: none;    
}


@media(max-width:768px){
    .wrimagecard{
        margin-top: 15px;                           
    }
    
    .wrimagecard h1{
        padding: 5px;
        font-size: 25px;
    }
	.chart-container {		
		margin: 0 auto;
		height: 50%;
		width: 120%;
	}
}


@media(min-width:768px) {
    
}
