
body {
    overflow-x: hidden;
    background-color: #EEEEEE;
}

.btn-side-bar {
   padding:0;
   margin-left: -20px;
   margin-top: -20px;
}


.icon {
	float: left;
	padding-top: 7px ;
	padding-right: 10px ;
}

.card-title h1{
	text-align:left;
    font-size:25px;
    margin-left: 25px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.wrimagecard{
	margin-top: 0;
    margin-bottom: 1.5rem;    
    background: #fff;
    Border-radius: 5px;
}

.wrimagecard h1{
	padding: 15px;
}


select{
    border: none;    
}


@media(max-width:768px){
    #line{
        
    }
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;        
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
	.chart-container {
		position: relative;
		margin: auto;
		height: 50%;
		width: 120%;
	}
}
