<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dashboard</title>        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">        
        <link href="css/simple-sidebar.css" rel="stylesheet">
    </head>
    <body ng-controller="DashboardController as dash">   
                
                    <div id="page-content-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class='wrimagecard'>
                                        <div class="card-title">
                                            <h1>Faturamento 
                                                               
                                                    <span year-drop offset="0" range="20"  ></span>    
                                                
                                            </h1>
                                        </div>                                        
                                            <canvas id="line" class="chart  chart-line" height="100px"
                                            chart-data="data" chart-labels="labels"chart-series="series" chart-colors="colors"  >
                                          </canvas>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                       <div class="wrimagecard">
                                           
                                            <div class="card-title">
                                                <h1>Camandas de <span>
                                                        <select ng-model="monthComandaSelected" ng-options="m for m in meses" ng-change="dash.validarMesComanda(monthComandaSelected)"></select>
                                                </span>
                                                </h1>
                                            </div>             
                                           
                                           <canvas id="pie" class="chart chart-pie"
                                            chart-data="data_comanda" chart-labels="labels_comanda"
                                            chart-options="options_comanda" chart-colors="colors_comanda" >
                                           </canvas> 
                                       </div>
                                </div>
                                <div class="col-sm-6">
                                        <div class="wrimagecard">
                                                <div class="card-title">
                                                    <h1>Serviços <span>
                                                            <select ng-model="monthServicoSelected" ng-options="m for m in meses" ng-change="dash.validarMesServico(monthServicoSelected)"></select>
                                                    </span></h1>
                                                </div>
                                                <canvas id="base" class="chart-horizontal-bar"
                                                chart-data="data_prd" chart-labels="labels_prd" >
                                              </canvas> 
                                        </div>                                   
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
       
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services/DashboardService.js"></script>
        <script src="js/controller/DashboardController.js"></script>
        <script src="js/diretivas/selecteAnos.js"></script>        
      </body>
</html>
